services:
  mongodb:
    container_name: mongodb
    image: mongodb/mongodb-atlas-local
    environment:
      - DO_NOT_TRACK=1
    volumes:
      - mongodb-data:/data/db
      - mongodb-config:/data/configdb
      - mongodb-mongot:/data/mongot
    ports:
      - 27017:27017
    restart: always

volumes:
  mongodb-data:
  mongodb-config:
  mongodb-mongot:
